#!/bin/zsh

alias ":q!"="exit"
alias ":q"="exit"
alias ":wq"="exit"
alias "cd.."="cd .."
alias "ex,t"="exit"
alias "exşt"="exit"
alias -g bc="bc -lq"
alias -g vim="nvim"
alias -g vimdiff="nvim -d"
alias -s avi=mpv
alias -s c=nvim
alias -s cbr=zathura
alias -s cbz=zathura
alias -s cpp=nvim
alias -s css=nvim
alias -s h=nvim
alias -s hpp=nvim
alias -s html=nvim
alias -s java=nvim
alias -s jpeg=sxiv
alias -s jpg=sxiv
alias -s js=nvim
alias -s md=nvim
alias -s mkv=mpv
alias -s mp3=mpv
alias -s mp4=mpv
alias -s pde=nvim
alias -s pdf=mupdf
alias -s png=sxiv
alias IP="ip addr show wlp2s0 | grep inet | awk '{ print \$2 }' | sed 's/\/.*$//'"
alias L="List -a"
alias LL="List -lah"
alias Pgrep="grep -P"
alias ZQ="exit"
alias ZZ="exit"
alias ag="ag -aC2 --color"
alias ake="make"
alias al="list -a"
alias c="cd"
alias cal="ncal -Mb"
alias cat="bat -p"
alias catmd="glow -s dark"
alias cdd="cd"
alias celar="clear"
alias ci3="nvim ~/.config/i3/config"
alias cl="clear"
alias claer="clear"
alias clea="clear"
alias cleaar="clear"
alias cleara="clear"
alias cler="clear"
alias clera="clear"
alias clf="nvim ~/.config/lf/lfrc"
alias cling="cling --nologo"
alias clip="xclip -sel c"
alias cp="cp -vip"
alias cst="nvim ~/Desktop/Code/st/config.h"
alias ctmux="nvim ~/.tmux.conf"
alias cvifm="nvim ~/.config/vifm/vifmrc"
alias cvim="nvim ~/.config/nvim/init.vim"
alias czsh="nvim ~/.zshrc"
alias cşear="clear"
alias dust="dust -srn $(($(tput lines) - 3))"
alias e="nvim"
alias egrep="egrep --color=always -iE"
alias exi="exit"
alias find="fd -iIH"
alias gci="git commit -am 'Initial Commit'"
alias ghist="cut -d\; -f2 ~/.zsh_history | fzf --ansi --tac --no-sort --print0 | xargs --null --delim='\n' xdotool type"
alias glg1="git lg1"
alias glg2="git lg2"
alias glg3="git lg3"
alias gmv="git mv"
alias grep='grep --color=always -i'
alias gs="git status"
alias highlight="source-highlight -oSTDOUT -fesc256 -i"
alias htop="htop -d 11"
alias l1="list -a1"
alias l="list -a"
alias la='list -a'
alias lag="ls -a | grep"
alias las="lsa"
alias lat="exa -a --icons --tree --color=always"
alias lcaer="clear"
alias lcear="clear"
alias lear="clear"
alias less='less --RAW-CONTROL-CHARS -x4'
alias lget="xbacklight -get"
alias ll="list -lah"
alias llg="ls -lah | grep"
alias lll="\ls -lAFh --color=always --group-directories-first"
alias locate="locate -eLi --regex"
alias lolcat="lolcat -ftp 1.9 -F 0.07"
alias ls="list"
alias ls="list"
alias lsa='list -lah'
alias lset="xbacklight -set"
alias lt="colorls -l --tree --sd --group-directories-first"
alias lta="lat"
alias magick="/usr/bin/gm"
alias mdcat="mdcat --columns 100"
alias mpva="mpv --no-audio-display"
alias mutt="neomutt"
alias mv="mv -vi"
alias n='nnn -aEgHR'
alias nano="nvim"
alias open="xdg-open"
alias p="/bin/cat"
alias pacman="pacman --color=always"
alias pingg="ping -c 64 -i 0.25 -s 56"
alias please="sudo"
alias pypy="pypy3"
alias python3="python3 -q"
alias python="python3"
alias q="exit"
alias quit="exit"
alias rg="rg --color=always"
alias speedtest="speedtest --secure |& lolcat"
alias sudo="sudo -v; sudo -E"
alias suo="sudo"
alias sv="sudo -E nvim"
alias t-rec="t-rec -q -b transparent"
alias tldr="tldr --color=always"
alias unlock="sudo rm /var/lib/pacman/db.lck"
alias upate="update"
alias update="clear; sudo pacman --color=always -Syu"
alias v="nvim"
alias vi="nvim"
alias vifm="vifmrun"
alias watch="watch -ce"
alias yay="yay --color=always"
alias zshconfig="nvim ~/.zshrc && source ~/.zshrc"
alias wc="/home/beron/Code/fastlwc/fastlwc-mt"
alias wget="wget -c"
