#!/bin/zsh

alias ":q!"="exit"
alias ":q"="exit"
alias ":wq"="exit"
alias "cd.."="cd .."
alias "ex,t"="exit"
alias "exşt"="exit"
alias -g bc="bc -lq"
alias -s avi=mpv
alias -s c=nvim
alias -s cbr=zathura
alias -s cbz=zathura
alias -s cpp=nvim
alias -s css=nvim
alias -s h=nvim
alias -s hpp=nvim
alias -s html=nvim
alias -s java=nvim
alias -s jpeg=nsxiv
alias -s jpg=nsxiv
alias -s jxl=nsxiv
alias -s js=nvim
alias -s md=nvim
alias -s mkv=mpv
alias -s mp3=mpv
alias -s mp4=mpv
alias -s pde=nvim
alias -s pdf=mupdf
alias -s png=nsxiv
alias -s webm=mpv
alias -s webp=nsxiv
alias ......="../../../../.."
alias .....="../../../.."
alias ....="../../.."
alias ...="../.."
alias IP="ip addr show wlp3s0 | grep inet | awk '{ print \$2 }' | sed 's/\/.*$//'"
alias ZQ="exit"
alias ZZ="exit"
alias ag="ag -aC2 --color"
alias c="cd"
alias cal="ncal -Mb"
alias cat="bat -p"
alias catmd="glow -s dark"
alias cdd="cd"
alias celar="clear"
alias ci3="nvim ~/.config/i3/config"
alias cl="clear"
alias claer="clear"
alias clea="clear"
alias cleaar="clear"
alias cleara="clear"
alias cler="clear"
alias clera="clear"
alias clf="nvim ~/.config/lf/lfrc"
alias cling="cling --nologo"
alias clip="xclip -sel c"
alias colored="LESS_TERMCAP_md=$'\e[01;31m' LESS_TERMCAP_me=$'\e[0m' LESS_TERMCAP_se=$'\e[0m' LESS_TERMCAP_so=$'\e[01;44;33m' LESS_TERMCAP_ue=$'\e[0m' LESS_TERMCAP_us=$'\e[01;32m'"
alias cp="cp -vip"
alias curl="curl -L"
alias cvifm="nvim ~/.config/vifm/vifmrc"
alias cvim="nvim ~/.config/nvim/init.lua"
alias czsh="nvim ~/.zshrc && source ~/.zshrc"
alias dust="dust -srn $(($(tput lines) - 3)) -o si"
alias e="emacsclient -cn"
alias et="emacsclient -tc"
alias em="emacs"
alias egrep="grep --color=always -iE"
alias exi="exit"
alias ezal="eza --icons -@malF --time-style=long-iso --group --group-directories-first --color-scale --smart-group"
alias find="fd -iIH"
# alias get_video_upload_date='yt-dlp -O "%(upload_date>%d-%m-%Y)s - \"%(title)s\""'
alias grep='grep -i --color=auto'
alias highlight="source-highlight -oSTDOUT -fesc256 -i"
alias htop="htop -d 7"
alias hwatch="hwatch -c"
alias lc="wc -l"
alias l1="ls -A1"
alias l="eza -xa --icons --group-directories-first"
alias lat="ezal --tree"
alias less='less -RFx4'
alias lfs="dysk"
alias ll="ezal"
alias lll="\ls -lAFh --si --color=always --group-directories-first"
alias locate="plocate -ei --regex"
alias lolcat="lolcat -ftp 1.9 -F 0.07"
alias lta="lat"
# alias magick="/usr/bin/gm"
alias mappu="mapillary_tools process_and_upload"
alias mpva="mpv --no-audio-display --speed=1 --input-ipc-server=/tmp/mpvsocket"
alias mv="mv -vi"
alias n="nvim"
alias ncdu="ncdu --si --color=dark"
alias open="xdg-open"
alias p="/bin/cat"
alias pingg="ping -c 32 -i 0.275"
alias q="exit"
alias register_download_ytdl="ytdl --force-write-archive --simulate"
alias rg="rg --color=always -L.S"
alias rm="rm -vI"
alias sed="sed -E"
alias speedtest="speedtest --secure |& lolcat"
alias sudo="sudo -E"
alias sv="sudo -E nvim"
alias sxiv="nsxiv"
alias sx="nsxiv"
alias t-rec="t-rec -q -b transparent"
alias tldr="tldr --color=always"
alias unlock="sudo rm /var/lib/pacman/db.lck"
alias update="sudo pacman -Syu"
alias vifm="vifmrun"
alias watch="watch -ce"
alias wget="wget -Nc"
alias yt="ytdl"
alias ytdlm="ytdl --cookies-from-browser=firefox --mark-watched"
