#!/bin/zsh

alias ":q!"="exit"
alias ":q"="exit"
alias ":wq"="exit"
alias "cd.."="cd .."
alias "ex,t"="exit"
alias "exşt"="exit"
alias -g bc="bc -lq"
alias -g vim="nvim"
alias -g vimdiff="nvim -d"
alias -s avi=mpv
alias -s c=nvim
alias -s cbr=zathura
alias -s cbz=zathura
alias -s cpp=nvim
alias -s css=nvim
alias -s h=nvim
alias -s hpp=nvim
alias -s html=nvim
alias -s java=nvim
alias -s jpeg=nsxiv
alias -s jpg=nsxiv
alias -s js=nvim
alias -s md=nvim
alias -s mkv=mpv
alias -s mp3=mpv
alias -s mp4=mpv
alias -s pde=nvim
alias -s pdf=mupdf
alias -s png=nsxiv
alias -s webp=nsxiv
alias ......="../../../../.."
alias .....="../../../.."
alias ....="../../.."
alias ...="../.."
alias IP="ip addr show wlp3s0 | grep inet | awk '{ print \$2 }' | sed 's/\/.*$//'"
alias Pgrep="grep -P"
alias ZQ="exit"
alias ZZ="exit"
alias ag="ag -aC2 --color"
alias ake="make"
alias al="ls -a"
alias c="cd"
alias cal="ncal -Mb"
alias cat="bat -p"
alias catmd="glow -s dark"
alias cdd="cd"
alias celar="clear"
alias ci3="nvim ~/.config/i3/config"
alias cl="clear"
alias claer="clear"
alias clea="clear"
alias cleaar="clear"
alias cleara="clear"
alias cler="clear"
alias clera="clear"
alias clf="nvim ~/.config/lf/lfrc"
alias cling="cling --nologo"
alias clip="xclip -sel c"
alias colored="LESS_TERMCAP_md=$'\e[01;31m' LESS_TERMCAP_me=$'\e[0m' LESS_TERMCAP_se=$'\e[0m' LESS_TERMCAP_so=$'\e[01;44;33m' LESS_TERMCAP_ue=$'\e[0m' LESS_TERMCAP_us=$'\e[01;32m'"
alias cp="cp -vip"
alias cst="nvim ~/Desktop/Code/st/config.h"
alias ctmux="nvim ~/.tmux.conf"
alias curl="curl -L"
alias cvifm="nvim ~/.config/vifm/vifmrc"
alias cvim="nvim ~/.config/nvim/init.lua"
alias czsh="nvim ~/.zshrc && source ~/.zshrc"
alias cşear="clear"
alias dust="dust -srn $(($(tput lines) - 3))"
alias e="nvim"
alias egrep="egrep --color=always -iE"
alias exal="exa --icons -@maFl --time-style=long-iso --group --group-directories-first --color-scale"
alias exi="exit"
alias find="fd -iIH"
alias get_video_upload_date='yt-dlp -O "%(upload_date>%d-%m-%Y)s - \"%(title)s\""'
alias grep='grep -i --color=auto'
alias highlight="source-highlight -oSTDOUT -fesc256 -i"
alias htop="htop -d 7"
alias l1="ls -A1"
alias l="exa -xa --icons --group-directories-first"
alias lat="exal --tree"
alias lcaer="clear"
alias lcear="clear"
alias lear="clear"
alias less='less -RFx4'
alias lget="xbacklight -get"
alias ll="exal"
alias lll="\ls -lAFh --si --color=always --group-directories-first"
alias locate="plocate -ei --regex"
alias lolcat="lolcat -ftp 1.9 -F 0.07"
alias lta="lat"
alias magick="/usr/bin/gm"
alias mpva="mpv --no-audio-display"
alias mv="mv -vi"
alias n="nvim"
alias nano="nvim"
alias ncdu="ncdu --si --color=dark"
alias open="xdg-open"
alias p="/bin/cat"
alias pingg="ping -c 32 -i 0.275"
alias pypy="pypy3"
alias python3="python3 -q"
alias python="python3"
alias q="exit"
alias quit="exit"
alias rg="rg --color=always -L.S"
alias rm="rm -vI"
alias speedtest="speedtest --secure |& lolcat"
alias sudo="sudo -E"
alias suo="sudo"
alias sv="sudo -E nvim"
alias t-rec="t-rec -q -b transparent"
alias tldr="tldr --color=always"
alias unlock="sudo rm /var/lib/pacman/db.lck"
alias upate="update"
alias update="clear; sudo pacman -Syu"
alias vifm="vifmrun"
alias watch="watch -ce"
alias hwatch="hwatch -c"
alias wget="wget -Nc"
alias yay="yay --sudoloop"
