#!/bin/zsh

export BROWSER="firefox"
export EDITOR="nvim"
export PISTOL_CHROMA_FORMATTER=terminal256 # Not 16m because of nnn's lack of support (?)
export PISTOL_CHROMA_STYLE=vim
export FILE="vifm"
export LESSHISTFILE="-"
export TERMINAL="alacritty"
export PAGER="less -RFx4"
export BAT_PAGER="$PAGER"
export SERENITY_ROOT="/home/beron/Desktop/Code/serenity"
# export ZSH_AUTOSUGGEST_USE_ASYNC="true"

export _ZL_ROOT_MARKERS=".git,.svn,.hg,.root,package.json"
export _ZL_MAXAGE=128000

export HISTSIZE=128000
export SAVEHIST=128000
export HISTFILE=~/.zsh_history
export INC_APPEND_HISTORY

# NNN CONFIG
export NNN_BMS="d:~/Desktop/;P:~/Pictures/;p:~/Peki/;D:~/Downloads/;m:~/MicroSD/YouTube;M:~/Movies/YouTube"
export NNN_CONTEXT_COLORS="2136"
export NNN_DE_FILE_MANAGER="$FILE"
export NNN_FIFO="/tmp/nnn.fifo"
export NNN_OPENER="~/.config/nnn/plugins/nuke"
export NNN_OPTS="aceEgHR"
export NNN_PLUG="d:diffs;r:renamer;p:preview"
export NNN_TRASH=1
export NNN_USE_EDITOR=1

export CMAKE_GENERATOR="Ninja"

export RUSTC_WRAPPER="sccache"
# export RUST_BACKTRACE=1
export RUSTFLAGS="$RUSTFLAGS -C target-cpu=native -C linker=clang -C link-arg=-fuse-ld=/usr/bin/mold "

export VISUAL="nvim"
export MANPATH="/usr/local/man:$MANPATH"

export DIFFPROG="nvim -d"

export VEXE="$HOME/Code/v/v"
export VEXEROOT="$HOME/Code/v"

export QT_QPA_PLATFORMTHEME="qt5ct"

zstyle ':completion:*' menu select
zmodload zsh/complist
_comp_options+=(globdots)		# Include hidden files.

checkspell() { echo -n "$@" | aspell -a | cut -d: -f2 | grep -v "#"; }

x ()
{
  if [ -f $1 ] ; then
    case $1 in
      *.tar.bz2)   tar xjvf $1   ;;
      *.tar.gz)    tar xzvf $1   ;;
      *.bz2)       bunzip2 $1    ;;
      *.rar)       unrar x $1    ;;
      *.gz)        gunzip $1     ;;
      *.tar)       tar xvf $1    ;;
      *.tbz2)      tar xjvf $1   ;;
      *.tgz)       tar xzvf $1   ;;
      *.zip)       unzip $1      ;;
      *.Z)         uncompress $1 ;;
      *.7z)        7z x $1       ;;
      *.deb)       ar x $1       ;;
      *.tar.xz)    tar xvf $1    ;;
      *)           echo "'$1' cannot be extracted via x()" ;;
    esac
  else
    echo "'$1' is not a valid file"
  fi
}

export LF_ICONS="\
di=:\
fi=:\
ln=:\
or=:\
ex=:\
*.c=:\
*.cc=:\
*.clj=:\
*.coffee=:\
*.cpp=:\
*.css=:\
*.d=:\
*.dart=:\
*.erl=:\
*.exs=:\
*.fs=:\
*.go=:\
*.h=:\
*.hh=:\
*.hpp=:\
*.hs=:\
*.html=:\
*.java=:\
*.jl=:\
*.js=:\
*.json=:\
*.lua=:\
*.md=:\
*.php=:\
*.pl=:\
*.pro=:\
*.py=:\
*.rb=:\
*.rs=:\
*.scala=:\
*.ts=:\
*.vim=:\
*.cmd=:\
*.ps1=:\
*.sh=:\
*.bash=:\
*.zsh=:\
*.fish=:\
*.tar=:\
*.tgz=:\
*.arc=:\
*.arj=:\
*.taz=:\
*.lha=:\
*.lz4=:\
*.lzh=:\
*.lzma=:\
*.tlz=:\
*.txz=:\
*.tzo=:\
*.t7z=:\
*.zip=:\
*.z=:\
*.dz=:\
*.gz=:\
*.lrz=:\
*.lz=:\
*.lzo=:\
*.xz=:\
*.zst=:\
*.tzst=:\
*.bz2=:\
*.bz=:\
*.tbz=:\
*.tbz2=:\
*.tz=:\
*.deb=:\
*.rpm=:\
*.jar=:\
*.war=:\
*.ear=:\
*.sar=:\
*.rar=:\
*.alz=:\
*.ace=:\
*.zoo=:\
*.cpio=:\
*.7z=:\
*.rz=:\
*.cab=:\
*.wim=:\
*.swm=:\
*.dwm=:\
*.esd=:\
*.jpg=:\
*.jpeg=:\
*.mjpg=:\
*.mjpeg=:\
*.gif=:\
*.bmp=:\
*.pbm=:\
*.pgm=:\
*.ppm=:\
*.tga=:\
*.xbm=:\
*.xpm=:\
*.tif=:\
*.tiff=:\
*.png=:\
*.svg=:\
*.svgz=:\
*.mng=:\
*.pcx=:\
*.mov=:\
*.mpg=:\
*.mpeg=:\
*.m2v=:\
*.mkv=:\
*.webm=:\
*.ogm=:\
*.mp4=:\
*.m4v=:\
*.mp4v=:\
*.vob=:\
*.qt=:\
*.nuv=:\
*.wmv=:\
*.asf=:\
*.rm=:\
*.rmvb=:\
*.flc=:\
*.avi=:\
*.fli=:\
*.flv=:\
*.gl=:\
*.dl=:\
*.xcf=:\
*.xwd=:\
*.yuv=:\
*.cgm=:\
*.emf=:\
*.ogv=:\
*.ogx=:\
*.aac=:\
*.au=:\
*.flac=:\
*.m4a=:\
*.mid=:\
*.midi=:\
*.mka=:\
*.mp3=:\
*.mpc=:\
*.ogg=:\
*.ra=:\
*.wav=:\
*.oga=:\
*.opus=:\
*.spx=:\
*.xspf=:\
*.pdf=:\
*.nix=:\
"

# xdg-ninja stuff
export ANDROID_HOME="$XDG_DATA_HOME"/android
export CGDB_DIR="$XDG_CONFIG_HOME"/cgdb
export CONAN_USER_HOME="$XDG_CONFIG_HOME"
export GNUPGHOME="$XDG_DATA_HOME"/gnupg
export GOPATH="$XDG_DATA_HOME"/go
export GRADLE_USER_HOME="$XDG_DATA_HOME"/gradle
export GTK2_RC_FILES="$XDG_CONFIG_HOME"/gtk-2.0/gtkrc
export IPYTHONDIR="${XDG_CONFIG_HOME}/ipython"
export JUPYTER_CONFIG_DIR="$XDG_CONFIG_HOME"/jupyter
export NODE_REPL_HISTORY="$XDG_DATA_HOME"/node_repl_history
export NPM_CONFIG_USERCONFIG="$XDG_CONFIG_HOME"/npm/npmrc
export PARALLEL_HOME="$XDG_CONFIG_HOME"/parallel
export RUSTUP_HOME="$XDG_DATA_HOME"/rustup
export WINEPREFIX="$XDG_DATA_HOME"/wine
export XCURSOR_PATH="$XCURSOR_PATH:${XDG_DATA_HOME}/icons:/usr/share/icons"

# vcpkg (Maybe I should change the root?)
export VCPKG_DOWNLOADS="$XDG_CACHE_HOME/vcpkg"
export VCPKG_MAX_CONCURRENCY="$(nproc --ignore=2)"

