#!/bin/zsh
export PATH="$PATH:/home/beronthecolossus/bin:/home/beronthecolossus/.local/bin:/usr/local/bin"
export PATH="$PATH:$(du "$HOME/.scripts/" | cut -f2 | tr '\n' ':' | sed 's/:*$//')"
export PATH="$PATH:/home/beronthecolossus/.cargo/bin"
export PATH="$PATH:/home/beronthecolossus/.config/i3"
export PATH="$PATH:/home/beronthecolossus/Desktop/Code"
export PATH="$PATH:/home/beronthecolossus/Desktop/Code/ccls/Release"
export PATH="$PATH:/home/beronthecolossus/Peki/processing-4.0a1"
export PATH="$PATH:/home/beronthecolossus/env/bin"
export PATH="$PATH:/home/beronthecolossus/pypy3.6-v7.1.1-linux64/bin"
export PATH="$PATH:/home/beronthecolossus/scripts"
export PATH="$PATH:/usr/local/gcc-10/bin"
export PATH="$PATH:/usr/local/gcc-11/bin"
export PATH="$PATH:/usr/local/bin/aseprite"
export PATH="$PATH:/usr/local/go/bin"
export PATH="$PATH:/home/beronthecolossus/Peki/Go/bin"
export PATH="$PATH:/usr/java/jdk-12/bin"
export PATH="$PATH:/home/beronthecolossus/.nimble/bin"
export PATH="$PATH:/home/beronthecolossus/Code/Qt/6.0.0/gcc_64/bin"

export LD_LIBRARY_PATH="/usr/local/gcc-11/lib64:$LD_LIBRARY_PATH"

export BROWSER="brave-browser"
export EDITOR="nvim"
export PISTOL_CHROMA_FORMATTER=terminal256
export PISTOL_CHROMA_STYLE=vim
export FILE="vifm"
export LESSHISTFILE="-"
export GOPATH="$HOME/Peki/Go"
# NNN CONFIG
export NNN_BMS="d:~/Desktop/;P:~/Pictures/;p:~/Peki/;D:~/Downloads/"
export NNN_USE_EDITOR=1
export NNN_CONTEXT_COLORS="2136"
export NNN_DE_FILE_MANAGER=$FILE
export NNN_OPENER="~/Code/nnn/plugins/nuke"
export NNN_TRASH=1
# export NNN_OPENER=xdg-open
export QTTOOLDIR="/home/beronthecolossus/Code/Qt/6.0.0/gcc_64/bin"
export QTLIBDIR="/home/beronthecolossus/Code/Qt/6.0.0/gcc_64/lib"
export QT_QMAKE="/home/beronthecolossus/Code/Qt/6.0.0/gcc_64/bin"
# export QT_SELECT=qt6
export TERMINAL="alacritty"
export PAGER="less -RF -x4"
export BAT_PAGER="less -RF -x4"
export UPDATE_ZSH_DAYS=14
export SERENITY_ROOT="/home/beronthecolossus/Desktop/Code/serenity"
export ZSH="/home/beronthecolossus/.oh-my-zsh"
export XDG_CONFIG_HOME="/home/beronthecolossus/.config"

export _ZL_ROOT_MARKERS=".git,.svn,.hg,.root,package.json"
export _ZL_MAXAGE=50000

export HISTSIZE=72000
export SAVEHIST=72000

export CMAKE_GENERATOR="Ninja"

fpath=(~/cheat-sh/ $fpath)

checkspell() { echo -n "$@" | aspell -a | cut -d: -f2 | grep -v "#"; }

function lower(){
	echo -n $@ | tr '[:upper:]' '[:lower:]'
}

function upper(){
	echo -n $@ | tr '[:lower:]' '[:upper:]'
}

function findsubdomains(){
	subfinder -d $@ -t 100 -silent |
	httprobe -c 40                 |
	sort -u	                       |
	while read line; do
	$BROWSER "$line"; sleep 10; done
}

export LF_ICONS="\
di=:\
fi=:\
ln=:\
or=:\
ex=:\
*.c=:\
*.cc=:\
*.clj=:\
*.coffee=:\
*.cpp=:\
*.css=:\
*.d=:\
*.dart=:\
*.erl=:\
*.exs=:\
*.fs=:\
*.go=:\
*.h=:\
*.hh=:\
*.hpp=:\
*.hs=:\
*.html=:\
*.java=:\
*.jl=:\
*.js=:\
*.json=:\
*.lua=:\
*.md=:\
*.php=:\
*.pl=:\
*.pro=:\
*.py=:\
*.rb=:\
*.rs=:\
*.scala=:\
*.ts=:\
*.vim=:\
*.cmd=:\
*.ps1=:\
*.sh=:\
*.bash=:\
*.zsh=:\
*.fish=:\
*.tar=:\
*.tgz=:\
*.arc=:\
*.arj=:\
*.taz=:\
*.lha=:\
*.lz4=:\
*.lzh=:\
*.lzma=:\
*.tlz=:\
*.txz=:\
*.tzo=:\
*.t7z=:\
*.zip=:\
*.z=:\
*.dz=:\
*.gz=:\
*.lrz=:\
*.lz=:\
*.lzo=:\
*.xz=:\
*.zst=:\
*.tzst=:\
*.bz2=:\
*.bz=:\
*.tbz=:\
*.tbz2=:\
*.tz=:\
*.deb=:\
*.rpm=:\
*.jar=:\
*.war=:\
*.ear=:\
*.sar=:\
*.rar=:\
*.alz=:\
*.ace=:\
*.zoo=:\
*.cpio=:\
*.7z=:\
*.rz=:\
*.cab=:\
*.wim=:\
*.swm=:\
*.dwm=:\
*.esd=:\
*.jpg=:\
*.jpeg=:\
*.mjpg=:\
*.mjpeg=:\
*.gif=:\
*.bmp=:\
*.pbm=:\
*.pgm=:\
*.ppm=:\
*.tga=:\
*.xbm=:\
*.xpm=:\
*.tif=:\
*.tiff=:\
*.png=:\
*.svg=:\
*.svgz=:\
*.mng=:\
*.pcx=:\
*.mov=:\
*.mpg=:\
*.mpeg=:\
*.m2v=:\
*.mkv=:\
*.webm=:\
*.ogm=:\
*.mp4=:\
*.m4v=:\
*.mp4v=:\
*.vob=:\
*.qt=:\
*.nuv=:\
*.wmv=:\
*.asf=:\
*.rm=:\
*.rmvb=:\
*.flc=:\
*.avi=:\
*.fli=:\
*.flv=:\
*.gl=:\
*.dl=:\
*.xcf=:\
*.xwd=:\
*.yuv=:\
*.cgm=:\
*.emf=:\
*.ogv=:\
*.ogx=:\
*.aac=:\
*.au=:\
*.flac=:\
*.m4a=:\
*.mid=:\
*.midi=:\
*.mka=:\
*.mp3=:\
*.mpc=:\
*.ogg=:\
*.ra=:\
*.wav=:\
*.oga=:\
*.opus=:\
*.spx=:\
*.xspf=:\
*.pdf=:\
*.nix=:\
"

